*{
    margin: 0px;
    padding: 0px;
}
@import "utils/animations";
@import "utils/variables";
html{
    max-width: 400px;
}
.loader{
    position:fixed;
    display: grid;
    place-items: center;
    flex-direction: column;
    inset:0px;
    z-index: 1;
    background-color: hsla(0, 0%, 94%, 0.8);
    animation: load 1s both;
    animation-delay: 2s;
    transform-origin: top;
    .spinner {
        margin-left: auto;
        margin-right: auto;
        width: 88px;
        height: 88px;
        border-radius: 50%;
        border: 14.1px solid;
        border-color: $color_primaire;
        border-right-color: $color_secondaire;
        animation: spinner 1s infinite linear;
     }
     
} 
#logo{
    width: 100%;

    img{
        display: block;
        width: 300px;
        height: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        
    }
}
#address{
    width: 100%;
    background-color: rgb(238, 238, 238);
    box-shadow: inset 5px 15px 5px -13px  rgb(173, 173, 173) ;  
    margin-top: 10px;
    #address_bloc{
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
        justify-content: center;
    
        p{
            font-family: 'roboto',sans-serif;
            font-size: 20px;
        }
        i{
            font-size: 20px;
            margin-right: 20px;
            
        }
        
    }
    #link_address{
        display: none;
    }
}

#reserve{
    width: 100%;
    background-color: rgb(246, 246, 246);
    padding-top: 30px;
    padding-bottom: 60px;

    h2{
        font-family: 'roboto',sans sans-serif;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        margin-bottom: 10px;
    }
    p{
        font-family: 'roboto',sans-serif;
        font-size: 20px;
        text-align: center;
        font-weight: 100;
    }
    #button_reserve{
        display: block;
        text-align: center;
        margin-top: 50px;
    
        a{
            text-decoration: none;
            color: white;
            font-family: 'roboto', sans-serif;
            background:$color_gradient;
            box-shadow: 0px 0px 10px rgb(188, 188, 188);
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 20px;
            padding-right: 20px;
            border-radius: 40px;
            &:hover{
                box-shadow: 0px 0px 30px rgb(188, 188, 188);
                background:$color_gradient;
            }
            
        }
    }
}
#fonctionnement{
    width: 100%;
    display: flex;
    flex-direction: column;

    h2{
        font-family: 'roboto',sans-serif;
        font-size: 25px;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #selection{
        display: flex;
        flex-direction: column;
        margin-left: 30px;
        .selection_button{
            display: flex;
            position: relative;
            align-items: center;
            box-shadow: 0px 0px 10px rgb(188, 188, 188);
            gap: 10px;
            width: 90%;
            background-color:rgb(246, 246, 246);
            margin-bottom: 30px;
            padding-bottom: 25px;
            padding-top: 25px;
            border-radius: 20px;
        
            a{
                font-family: 'roboto',sans-serif;
                text-decoration: none;
                color: black;
                font-weight: 500;
                font-size: 17px;
            }
            p{
                display: flex;
                position: absolute;
                bottom: 20px;
                left: -10px;
                font-family: 'roboto',sans-serif;
                font-size: 17px;
                color: white;
                background-color: $color_primaire;
                border-radius: 30px;
                padding-top: 5px;
                padding-bottom: 5px;
                padding-left: 10px;
                padding-right: 10px;
            }
            i{
                margin-left: 45px;
                margin-right:20px ;
                font-size: 20px;
                color: rgb(161, 161, 161);
        
                &:hover{
                    color: $color_primaire;
                }
                
            }
            &:hover{
                background-color: rgba(245,237,255,255) ; 
                cursor: pointer;
            }
            &:hover .cards_fonct i:not(:hover){
                color: $color_primaire;
            }
            
        }
    }
    
}

article{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color:rgb(246, 246, 246);

    h2{
        font-family: 'roboto',sans-serif;
        font-size: 25px;
        padding-top: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
    }
    .cards_res_nwe{
        display: block;
        flex-direction: column;
        position: relative;
        border-radius: 20px;
        width: 350px;
        height: 250px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        font-family: 'roboto',sans-serif;
        box-shadow: 0px 0px 10px rgb(212, 212, 212);
        text-decoration: none;
    
        &:hover{
            cursor: pointer;
        }
    
        img{
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 350px;
            height: 170px;
        }
        h3{
            position: absolute;
            background-color: rgba(153,226,208,255);
            color: rgba(30,153,122,255) ;
            font-family: 'roboto',sans-serif;
            font-weight: 400;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 10px;
            padding-right: 10px;
            left: 250px;
            top: 20px;
        }
        h4{
            color: black;
        }
        p{
            color: black;
        }
    
    }
    .bloc_bottom{
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .text{
        margin-right: 140px;
    
        h4{
            font-size: 18px;
            margin-bottom: 5px;
            width: 130%;
        }
        p{
            font-weight: 100;
            width: 120%;
        }
    }
    .cards_res{
        display: block;
        flex-direction: column;
        border-radius: 20px;
        width: 350px;
        height: 250px;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        font-family: 'roboto',sans-serif;
        box-shadow: 0px 0px 10px rgb(212, 212, 212);
        text-decoration: none;
    
        img{
            object-fit: cover;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            width: 350px;
            height: 170px;
        }
        .text{
            margin-right: 140px;
    
            h4{
                font-size: 18px;
                color: black;
                width: 150px;
            
            }
            p{
                font-weight: 100;
                color: black;
            }
        }
    }
    .like{
        .plein{
            background: $color_gradient;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            display: none;
            font-size: 30px;
            transform: scale(0);
            animation: 2000ms appears;
        }
        .contoure{
            font-size: 30px;
            color: black;
        }
        &:active .plein{
            display: block;
            transform: scale(1.1);    
        } 
        &:active .contoure{
            display: none;
        
        }
    }
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #353535;
    padding: 20px;
    line-height: 30px;
    h1{
        font-family: 'shrikhand',sans-serif;
        color: white;
        font-size: 25px;
        margin-bottom: 20px;
        opacity: 0,5;
    }
    .links{
        display: flex;
        flex-direction: column;
        i{
            color: white;
        }
        a{
            color: white;
            text-decoration: none;
            font-family: 'roboto',sans-serif;
            
        }
        .proposer_rest i{
            margin-right: 14px;
        }
        .partenaire i{
            margin-right: 8px;
        }
        .mentions_contact{
            display: flex;
            flex-direction: column;
        }
    }
    
}

    
