@media screen and (min-width:401px) and (max-width:998px){
    html{
        width: auto;
    }
    body{
        width: auto;
    }
    .return_logo{
        width: 100%;

        img{
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: 30px;
        }
    }
    aside{
        img{
            width: 100%;
            
        }
    }
    section{
        article{
            width: auto;
            .titre_like{
                h2{
                    font-size: 30px;
                }
            }
            .composition{
                .choose{
                    .top{
                        margin-left: 25px;
                    }
                    .cards{
                        width: 95%;
                    }
                }
            }
            
            .commander{
                a{
                    padding-top: 20px;
                    padding-bottom: 20px;
                    padding-left: 80px;
                    padding-right: 80px;
                    font-size: 20px;
                }
            }
        }
    }
    footer{
        align-items: center;
        h1{
            font-size: 70px;
            margin-top: 15px;
        }
        .links{
            margin-top: 20px;
            .proposer_rest{
                i{
                    font-size: 20px;
                }
                a{
                    font-size: 17px;
                }
            }
            .partenaire{
                i{
                    font-size: 20px;
                }
                a{
                    font-size: 17px;
                }
            }
            .mentions_contact{
                a{
                    margin-left: 37px;
                    font-size: 17px;
                }
            }
        }
    }
}
@media screen and (min-width:999px) and (max-width:1366px){
    html{
        width: auto;
    }
    body{
        width: auto;
    }
    .return_logo{
        width: 100%;

        img{
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: 35px;
        }
        .return{
            &:hover{
                cursor: pointer;
                i{
                    color: #99E2D0;
                }
            }
        }
    }
    section{
        article{
            width: auto;
            display: flex;
            flex-direction: column;
            .titre_like{
                justify-content: center;
                h2{
                    margin-right: 20px;
                    font-size: 30px;
                }
            }
            .composition{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .choose{
                    .top{
                        margin-left: 20px;
                    }
                    .cards{
                        margin: 20px;
                    }
                }
            }
        }
    }
    footer{
        align-items: center;
        h1{
            font-size: 70px;
            margin-top: 15px;
        }
        .links{
            margin-top: 20px;
            .proposer_rest{
                i{
                    font-size: 20px;
                }
                a{
                    font-size: 17px;
                }
            }
            .partenaire{
                i{
                    font-size: 20px;
                }
                a{
                    font-size: 17px;
                }
            }
            .mentions_contact{
                a{
                    margin-left: 37px;
                    font-size: 17px;
                }
            }
        }
    }
    
}
@media screen and (min-width:1367px) and (max-width:1500px){
    html{
        width: auto;
    }
    body{
        width: auto;
    }
    .return_logo{
        width: 100%;

        img{
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: 35px;
        }
        .return{
            &:hover{
                cursor: pointer;
                i{
                    color: #99E2D0;
                }
            }
        }
    }
    section{
        article{
            width: auto;
            display: flex;
            flex-direction: column;
            .titre_like{
                justify-content: center;
                h2{
                    margin-right: 20px;
                    font-size: 30px;
                }
            }
            .composition{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .choose{
                    .cards{
                        margin: 20px;
                    }
                }
            }
        }
    }
    aside{
        width: 100%;
        img{
            width: 100%;
        }
    }
    footer{
        align-items: center;
        h1{
            font-size: 70px;
            margin-top: 15px;
        }
        .links{
            margin-top: 20px;
            .proposer_rest{
                i{
                    font-size: 20px;
                }
                a{
                    font-size: 17px;
                }
            }
            .partenaire{
                i{
                    font-size: 20px;
                }
                a{
                    font-size: 17px;
                }
            }
            .mentions_contact{
                a{
                    margin-left: 37px;
                    font-size: 17px;
                }
            }
        }
    }
    
}
@media all and (min-width:1501px) and (max-width:5000px){
    html{
        width: auto;
    }
    body{
        width: auto;
    }
    .return_logo{
        width: 100%;

        img{
            margin-left: auto;
            margin-right: auto;
            width: auto;
            height: 35px;
        }
        .return{
            &:hover{
                cursor: pointer;
                i{
                    color: #99E2D0;
                }
            }
        }
    }
    section{
        article{
            width: auto;
            display: flex;
            flex-direction: column;
            .titre_like{
                justify-content: center;
                h2{
                    margin-right: 20px;
                    font-size: 30px;
                }
            }
            .composition{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .choose{
                    .cards{
                        margin: 20px;
                    }
                }
            }
        }
    }
    aside{
        width: 100%;
        img{
            width: 100%;
        }
    }
    footer{
        align-items: center;
        h1{
            font-size: 70px;
            margin-top: 15px;
        }
        .links{
            margin-top: 20px;
            .proposer_rest{
                i{
                    font-size: 20px;
                }
                a{
                    font-size: 17px;
                }
            }
            .partenaire{
                i{
                    font-size: 20px;
                }
                a{
                    font-size: 17px;
                }
            }
            .mentions_contact{
                a{
                    margin-left: 37px;
                    font-size: 17px;
                }
            }
        }
    }
    
}
