* {
  margin: 0px;
  padding: 0px;
}

/*---------------------------- Animations Restaurants -----------------------------*/
@-webkit-keyframes appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appears {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes rotatecheck {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes rotatecheck {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes slid_bottom {
  0% {
    transform: scaleY(0.4);
    transform-origin: 0% 100%;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes slid_bottom {
  0% {
    transform: scaleY(0.4);
    transform-origin: 0% 100%;
    opacity: 0;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@-webkit-keyframes slid_right {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slid_right {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/*---------------------------- Animations Acceuil-----------------------------------*/
@-webkit-keyframes spinner {
  to {
    transform: rotate(1turn);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@keyframes spinner {
  to {
    transform: rotate(1turn);
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@-webkit-keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    z-index: -5;
  }
}
@keyframes load {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    z-index: -5;
  }
}
/*--------------------------- Les Couleurs---------------------------------------*/
/*----------------------------Les Fonts-----------------------------------------*/
html {
  width: 400px;
}

body {
  width: 400px;
}

.return_logo {
  display: flex;
  padding-top: 20px;
  padding-bottom: 15px;
  justify-content: space-around;
}
.return_logo img {
  display: block;
  width: 200px;
  height: 35px;
  margin-left: 50px;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
.return_logo i {
  font-size: 25px;
  text-decoration: none;
  color: black;
  margin-left: 30px;
  margin-top: 5px;
}

aside {
  width: 100%;
}
aside img {
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  background-color: #f6f6f6;
}
section article {
  position: relative;
  width: 400px;
  background-color: #f6f6f6;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  bottom: 50px;
  padding-bottom: 50px;
}
section article .titre_like {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: "Shrikhand", sans-serif;
  font-size: 20px;
}
section article .titre_like .h2 {
  color: black;
}
section article .titre_like .like .plein {
  background: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: none;
  font-size: 30px;
  transform: scale(0);
  -webkit-animation: 900ms appears;
          animation: 900ms appears;
}
section article .titre_like .like .contoure {
  font-size: 30px;
  color: black;
}
section article .titre_like .like:active .contoure {
  display: none;
}
section article .titre_like .like:active .plein {
  display: block;
  transform: scale(1.1);
}
section article .choose .top {
  margin-left: 20px;
  font-family: "roboto", sans-serif;
  font-weight: 100;
  color: #9d9d9d;
  font-size: 15px;
  margin-left: 15px;
}
section article .choose .top .h3 {
  color: #818181;
  margin-bottom: 10px;
}
section article .choose .top .line {
  border-top: 4px solid #99E2D0;
  width: 30px;
  margin-bottom: 30px;
}
section article .choose .cards {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1803921569);
  border-radius: 15px;
  width: 380px;
  height: 70px;
  text-decoration: none;
  color: black;
  -webkit-animation: slid_bottom 3s;
          animation: slid_bottom 3s;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: "roboto", sans-serif;
}
section article .choose .cards:hover {
  cursor: pointer;
}
section article .choose .cards:active .price_check {
  -webkit-animation: slid_right 800ms;
          animation: slid_right 800ms;
}
section article .choose .cards:active .price_check .check {
  margin-right: 0px;
}
section article .choose .cards:active .price_check .check .ok {
  -webkit-animation: rotatecheck 2s;
          animation: rotatecheck 2s;
}
section article .choose .cards .menu_detail {
  margin-left: 20px;
  margin-top: auto;
  margin-bottom: auto;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section article .choose .cards .menu_detail h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section article .choose .cards .menu_detail p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #9d9d9d;
}
section article .choose .cards .price_check {
  display: flex;
}
section article .choose .cards .price_check .price {
  margin-right: auto;
  margin-left: 10px;
  margin-left: 10px;
  margin-top: 20px;
}
section article .choose .cards .price_check .price p {
  margin-top: 10px;
  margin-right: 15px;
}
section article .choose .cards .price_check .check {
  display: flex;
  color: white;
  background-color: #99E2D0;
  align-items: center;
  margin-right: -75px;
  margin-left: auto;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 20px 0 20px;
}
section article .choose .cards .price_check .check .ok {
  font-size: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.cmd {
  border-radius: 0%;
}
.cmd .commander {
  display: flex;
  justify-content: center;
  width: 100%;
}
.cmd .commander a {
  text-decoration: none;
  color: white;
  font-family: "roboto", sans-serif;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 0px 10px rgb(188, 188, 188);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 40px;
}
.cmd .commander a:hover {
  box-shadow: 0px 0px 30px rgb(188, 188, 188);
  background: linear-gradient(#ffabe8, #ac83dd);
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 20px;
  line-height: 30px;
}
footer h1 {
  font-family: "Shrikhand", sans-serif;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  opacity: 0, 5;
}
footer .links {
  display: flex;
  flex-direction: column;
}
footer .links i {
  color: white;
}
footer .links a {
  color: white;
  text-decoration: none;
  font-family: "roboto", sans-serif;
}
footer .links .proposer_rest i {
  margin-right: 14px;
}
footer .links .partenaire i {
  margin-right: 8px;
}
footer .links .mentions_contact {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=restaurants.css.map */