/*---------------------------- Animations Restaurants -----------------------------*/

@keyframes appears {   
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes rotatecheck {
    0%{
        transform: rotate(-180deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes slid_bottom {
	0% {
		transform: scaleY(0.4);
		transform-origin: 0% 100%;
        opacity: 0;
	}

	100% {
		transform: scaleY(1);
		transform-origin: 0% 100%;
        opacity: 1;
	}
}
@keyframes slid_right {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
/*---------------------------- Animations Acceuil-----------------------------------*/
@keyframes spinner{
    to {
       transform: rotate(1turn);
       animation-fill-mode: forwards ;
    }
 }
@keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        animation-fill-mode: forwards;
        z-index: -5;
    }
}