/*--------------------------- Les Couleurs---------------------------------------*/
$color_gradient:linear-gradient(#FF79DA, #9356DC);
$color_primaire:#9356DC ;
$color_secondaire:#FF79DA ;
$color_tertiaire:#99E2D0;
$color_gradient_clearup:linear-gradient(#ffabe8, #ac83dd);
/*----------------------------Les Fonts-----------------------------------------*/
$title_font: 'Shrikhand', sans-serif;
$other_font: 'roboto', sans-serif;